.card img, .app-img {
    width: 85px !important;       /* Rasmni eni */
    height: 85px !important;      /* Rasmni bo'yi */
    border-radius: 50% !important;/* Dumaloq shakl */
    object-fit: cover !important; /* Rasm cho'zilmasligi uchun */
    margin: 10px auto !important; /* Markazga qo'yish */
    display: block;
    background: #ffffff;          /* Logotiplar orqasi oq bo'lsin */
    border: 2px solid #bc13fe;    /* Neon hoshiya */
    box-shadow: 0 0 10px #bc13fe;
}

.app-img {
    object-fit: contain !important; /* Ilova logotiplari qirqilmasin */
    padding: 10px;                  /* Ichkaridan masofa */
}
